/* Colors */
$dark-blue: rgb(16,41,84);
$blue: lighten($dark-blue, 20%);
$yellow: rgb(233,188,10);
$light-grey: rgb(242, 242, 242);
$green: rgb(51, 204, 51);
$red: rgb(204, 51, 51);

/* Heights */
$footer-height: 50px;

/* Common */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
  background-color: $light-grey;
  font-family: 'Montserrat', sans-serif;
  color: $dark-blue;
}
a {
  color: $blue;
}
.btn-primary {
    color: $dark-blue;
    background-color: $yellow;
    border: none;
    &:hover, &:focus, &:active {
      color: $yellow;
      background-color: $dark-blue;
      border: none;
    }
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: $yellow;
  background-color: $dark-blue;
  border: none;
}
.page-title{
  padding-left:15px;
  text-transform: capitalize;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
/* Common End */

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $dark-blue;
  color: $yellow;
  text-align: center;
  .container {
    padding-top: $footer-height/4;
  }
}
/* Footer End*/

/* Navbar */
.navbar{
  background-color: $dark-blue;
  border-radius: 0px;
}
.navbar-nav>li>a,
.dropdown-menu>li>a {
  color: $yellow;
}

.dropdown-menu {
  background-color: $dark-blue;
  color: $yellow;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  color: $yellow;
}



.navbar-toggle .icon-bar {
  background-color: $yellow;
}

.nav>li>a:focus,
.nav>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color:$yellow;
  color: $dark-blue;
}
/* Navbar End */

/* Panels */
.panel {
	border-radius:0;
}

.panel-primary {
	border-color: $dark-blue;
	.panel-heading {
		background-color: $dark-blue;
 		border-color: $dark-blue;
		color: $yellow;
		border-radius:0;
	}
}

.match-panels{
  text-align: center;
  .panel-body {
    font-size: 42px;
  }
}

.match-info {
  .list-group-item {
    text-transform: capitalize;;
    border-radius: 0;
    border-color: $dark-blue;
    &.active{
      background-color: $dark-blue;
      color: $yellow;
      border:none;
    }
  }
}
/* Panels End */
