{% extends 'base.html' %}
{% load csgoFilters %}
{% load staticfiles %}

{% block title %}New Score - {{ block.super }}{% endblock title %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/pickaday.min.css' %}">
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="POST" class="form-horizontal" enctype="multipart/form-data">
                <fieldset>
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}" class="col-lg-12">{{ field.label }}</label>
                        <div class="col-lg-12">
                            {{ field|addClass:'form-control' }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="submit" class="pull-right btn btn-primary">Add Score</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block afterContent %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/pickaday.min.js' %}"></script>
<script>
  var picker = new Pikaday({
    field: document.getElementById('id_date'),
    format: 'MM/DD/YYYY'
  });
</script>
{% endblock afterContent %}
