{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Counter Strike Global Offensive Competitive Match Tracking">
    <meta name="author" content="Jason Rametta">
    <title>{% block title %}CS:GO Scores{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/csgoscores.min.css' %}"/>
    <link rel="icon" href="{% static 'imgs/csgologo.png' %}"/>
    <!-- TODO: Make favicon blue circle with yellow soldier inside. Make compatible with many devices-->
    {% block header %}{% endblock header %}
  </head>
  <body>

    <!-- Navbar -->
      {% include "nav.html" %}
    <!-- End Navbar -->

    <!-- Content -->
      {% block content %}{% endblock content %}
    <!-- End Content -->

    <!-- Footer -->
      {% include "footer.html" %}
    <!-- End Footer -->

    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- After Content -->
      {% block afterContent %}{% endblock afterContent %}
    <!-- End After Content -->

  </body>
</html>
