{% extends 'base.html' %}

{% block title %}Leaderboards - {{ block.super }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">

    <!-- Main Table -->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Outcome</th>
            <th>Rounds Won</th>
            <th>Rounds Lost</th>
            <th>Kills</th>
            <th>Assists</th>
            <th>Deaths</th>
            <th>K/D Ratio</th>
            <th>MVP's</th>
            <th>Placement</th>
            <th>Score</th>
            <th>Date</th>
            <th>Map</th>
          </tr>
        </thead>
        <tbody>
          {% for row in leaderboard %}
          <tr>
            <td>{{row.outcome}}</td>
            <td>{{row.rounds_won}}</td>
            <td>{{row.rounds_lost}}</td>
            <td>{{row.kills}}</td>
            <td>{{row.assists}}</td>
            <td>{{row.deaths}}</td>
            <td>{{row.kill_death_ratio}}</td>
            <td>{{row.mvps}}</td>
            <td>{{row.placement}}</td>
            <td>{{row.score}}</td>
            <td>{{row.date}}</td>
            <td>{{row.map.title}}</td>
          </tr>
          {% endfor %}
        </body>
      </table>
    </div>
    <!-- Main Table End -->

  </div>
</div>

{% endblock content %}
