{% extends 'base.html' %}

{% block title %}{{page_title}} - {{ block.super }}{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Main Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-headers">
            <tr>
              <th>Player</th>
              <th>Rounds Won</th>
              <th>Rounds Lost</th>
              <th>Kills</th>
              <th>Assists</th>
              <th>Deaths</th>
              <th>K/D Ratio</th>
              <th>MVP's</th>
            </tr>
          </thead>
          <tbody>
            {% for row in leaderboard %}
              <tr>
                <td><a href="{% url 'view_player' username=row.player__username %}">{{row.player__username}}</a></td>
                <td>{{row.pSumRoundsWon}}</td>
                <td>{{row.pSumRoundsLost}}</td>
                <td>{{row.pSumKills}}</td>
                <td>{{row.pSumAssists}}</td>
                <td>{{row.pSumDeaths}}</td>
                <td>{{row.pAvgKD}}</td>
                <td>{{row.pSumMVPs}}</td>
              </tr>
            {% endfor %}
          </body>
        </table>
      </div>
      <!-- Main Table End -->
    </div>
  </div>
</div>

{% endblock content %}
