{% extends 'base.html' %}

{% block title %}Match - {{ block.super }}{% endblock title %}

{% block content %}

  <div class="container match-panels">
    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">#panel1</div>
          <div class="panel-body" id="panel1"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">#panel1</div>
          <div class="panel-body" id="panel1"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">#panel1</div>
          <div class="panel-body" id="panel1"></div>
        </div>
      </div>


    </div>
  </div>

{% endblock content %}
