{% extends 'base.html' %}

{% block title %}{{page_title}} - {{ block.super }}{% endblock title %}

{% block content %}

  <div class="container">

    <!-- Panels for Kills/Deaths/Assists, KD -->
    <div class="row">

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Kills</div>
          <div class="panel-body odometer" id="kills">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Deaths</div>
          <div class="panel-body odometer" id="deaths">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Assists</div>
          <div class="panel-body odometer" id="assists">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Average KD</div>
          <div class="panel-body odometer" id="avgKD">0</div>
        </div>
      </div>

    </div>

    <!-- Graph for kills/deaths/assists -->
    <div class="row">
      <div class="col-xs-12">
        graph here
      </div>
    </div>

    <!-- Panels for Rounds Won/Loss, MVP's -->
    <div class="row">

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Rounds Won</div>
          <div class="panel-body odometer" id="kills">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Rounds Lost</div>
          <div class="panel-body odometer" id="deaths">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total MVP's</div>
          <div class="panel-body odometer" id="avgKD">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Rounds W/L Ratio</div>
          <div class="panel-body odometer" id="assists">0</div>
        </div>
      </div>

    </div>

    <!-- Graph for Rounds Won/Loss -->
    <div class="row">
      <div class="col-xs-12">
        graph here
      </div>
    </div>

    <!-- Panels for Matches Won/Loss/Tie -->
    <div class="row">

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Matches Won</div>
          <div class="panel-body odometer" id="kills">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Matches Lost</div>
          <div class="panel-body odometer" id="deaths">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Total Matches Tied</div>
          <div class="panel-body odometer" id="assists">0</div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Win/Loss Ratios</div>
          <div class="panel-body odometer" id="avgKD">0</div>
        </div>
      </div>

    </div>

    <!-- Graph for Matches Won/Loss/Tied -->
    <div class="row">
      <div class="col-xs-12">
        graph here
      </div>
    </div>

      <!-- All Player Matches Table -->
    <div class="row">
      <div class="col-xs-12">

        <h2>All Matches <span class="badge">{{matches.count}}</span></h2>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-headers">
              <tr>
                <th>Outcome</th>
                <th>Rounds Won</th>
                <th>Rounds Lost</th>
                <th>Kills</th>
                <th>Assists</th>
                <th>Deaths</th>
                <th>K/D Ratio</th>
                <th>MVP's</th>
                <th>Placement</th>
                <th>Score</th>
                <th>Date</th>
                <th>Map</th>
              </tr>
            </thead>
            <tbody>
              {% for match in matches %}
              <tr>
                <td><a href="{% url 'view_match' match=match.id %}">{{match.outcome}}</a></td>
                <td>{{match.rounds_won}}</td>
                <td>{{match.rounds_lost}}</td>
                <td>{{match.kills}}</td>
                <td>{{match.assists}}</td>
                <td>{{match.deaths}}</td>
                <td>{{match.kill_death_ratio|floatformat:2}}</td>
                <td>{{match.mvps}}</td>
                <td>{{match.placement}}</td>
                <td>{{match.score}}</td>
                <td>{{match.date}}</td>
                <td>{{match.map.title}}</td>
              </tr>
              {% endfor %}
            </body>
          </table>
        </div><!-- end .table-responsive -->

      </div>

    </div>
  </div>

{% endblock content %}

{% block afterContent %}
<script>
var data = {{data|safe}};
console.log(data);
</script>
{% endblock afterContent %}
